body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #FFFEED;
}

/*----------------- HEADER --------------------*/

header {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textoHeader {
    color: #240101;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: -25px;
}

.vitaHeader {
    color: #5A0000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Purple Purse";
    font-size: 40px;
    font-weight: 600;
}

.container_vita {
    display: flex;
}

.logoVita {
    width: 50px;
    height: 55px;
    margin-top: 20px;
}

/*----------------- LOGIN --------------------*/

section {
    padding: 30px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
    opacity: 0.9;
    background: #5A0000;
    padding: 20px;
}

.tituloLogin {
    margin-top: 5px;
    color: #FFF;
    align-self: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 600;
}

.campo {
    margin-bottom: 10px;
    position: relative;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    color: #FFF;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: calc(100% - 20px);
}

.textoLogin {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #FFF;
}

.esqueciSenha {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
}

/*----------------- BOTÃO ENTRAR ------------------*/

.botaoEntrar {
    border-radius: 40px;
    background: #290000;
    font-family: "Open Sans";
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    border: none;
    padding: 10px;
    width: 150px;
}

.botaoEntrar:hover {
    background: #772828;
    cursor: pointer;
}

.botao {
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: center;
}

/*-------------- FAZER LOGIN COM -----------------*/

.fazerLoginCom {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 15px;
}

.containerBotoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gmail {
    border-radius: 30px;
    background-color: #cb7d7db6;
    border: none;
    padding: 10px;
}

.facebook {
    border-radius: 15px;
    background-color: #cb7d7db6;
    border: none;
    padding: 10px;
    width: 33px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.facebook img {
    width: 20px;
}

.iconGmail {
    width: 31px;
    height: 30px;
}

/*--------------- CADASTRAR -----------------*/

.textoCadastrar {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botaoCadastrar {
    margin-top: 10px;
    border-radius: 40px;
    background: #d49a9a6c;
    font-family: "Open Sans";
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    border: none;
    display:inline-block;
    padding: 10px;
    margin-bottom: 20px;
}

.botaoCadastrar:hover {
    background: #5f1a1a;
    cursor: pointer;
}

a {
    -webkit-tap-highlight-color: transparent; 
}

